Source: nagvis
Section: net
Priority: extra
Maintainer: Debian Nagios Maintainer Group <pkg-nagios-devel@lists.alioth.debian.org>
Uploaders: Jan Wagner <waja@cyconet.org>, Alexander Wirt <formorer@debian.org>, Hendrik Frenzel <hfrenzel@scunc.net>, Wolfgang Barth <wob@swobspace.net> 
Build-Depends: debhelper (>= 5), dpatch
Standards-Version: 3.8.3
Homepage: http://www.nagvis.org
Vcs-Svn: svn://svn.debian.org/svn/pkg-nagios/nagvis/trunk/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-nagios/nagvis/trunk/
Dm-Upload-Allowed: yes

Package: nagvis
Architecture: all
Depends: ${misc:Depends}, libapache2-mod-php5, php5-mysql, php5-gd, ucf, dbconfig-common, graphviz
Recommends: nagios3, ndoutils-mysql
Description: Visualization addon for Nagios
 NagVis can be used to visualize Nagios Data, e.g. to display IT processes like
 a mail system or a network infrastructure.
 .
 Key features are:
 .
  * Display of single Hosts or Services
  * Display the state of a Host dependent on the state of its services
    ("recognize services")
  * Visualize a complete Host- oder Servicegroup with one icon
  * Define Sub-Map icons wich represent a complete NagVis Map of
    Hosts/Services/Groups in one icon (drill down)
  * Visualization of complete IT Processes using self drawn graphics
