#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpatch/dpatch.make
DEST = debian/tmp

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: build-stamp patch-stamp
build-stamp: configure-stamp 
	dh_testdir
	#$(MAKE)
	#docbook-to-man debian/nagvis.sgml > nagvis.1
	touch $@

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	# Add here commands to clean up after the build process.
	#-$(MAKE) clean
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	
	mkdir -p $(DEST)/etc/nagvis $(DEST)/usr/share/nagvis/debian/ $(DEST)/usr/share/nagvis/htdocs/nagvis/ \
		$(DEST)/usr/share/nagvis/htdocs/wui/ $(DEST)/usr/share/nagvis/includes $(DEST)/usr/share/nagvis/wui/includes
	
	cp -a etc/* $(DEST)/etc/nagvis
	mv $(DEST)/etc/nagvis/nagvis.ini.php-sample \
		$(DEST)/usr/share/nagvis/debian/
	sed -e 's/^[; ]*\(\<dbhost\) *=.*$$/\1=_DBC_DBSERVER_/' \
	    -e 's/^[; ]*\(\<dbport\) *=.*$$/\1=_DBC_DBPORT_/' \
	    -e 's/^[; ]*\(\<dbname\) *=.*$$/\1=_DBC_DBNAME_/' \
	    -e 's/^[; ]*\(\<dbuser\) *=.*$$/\1=_DBC_DBUSER_/' \
	    -e 's/^[; ]*\(\<dbpass\) *=.*$$/\1=_DBC_DBPASS_/' \
	 < $(DEST)/usr/share/nagvis/debian/nagvis.ini.php-sample \
	 > $(DEST)/usr/share/nagvis/debian/nagvis.ini.php-sample.new && \
	 mv $(DEST)/usr/share/nagvis/debian/nagvis.ini.php-sample.new \
	    $(DEST)/usr/share/nagvis/debian/nagvis.ini.php-sample
	
	for dir in classes defines functions; do \
		cp -a nagvis/includes/$$dir $(DEST)/usr/share/nagvis/includes/; \
	done
	
	cp -a nagvis/images $(DEST)/usr/share/nagvis/htdocs/nagvis/
	mkdir -p $(DEST)/usr/share/nagvis/htdocs/nagvis/includes/
	cp -a nagvis/includes/css $(DEST)/usr/share/nagvis/htdocs/nagvis/includes/
	cp -a nagvis/includes/js $(DEST)/usr/share/nagvis/htdocs/nagvis/includes/
	cp -a nagvis/includes/languages $(DEST)/usr/share/nagvis/htdocs/nagvis/includes/
	
	cp -a nagvis/*.php $(DEST)/usr/share/nagvis/htdocs/nagvis/
	
	cp -a wui/images $(DEST)/usr/share/nagvis/htdocs/wui/
	cp -a wui/includes/classes $(DEST)/usr/share/nagvis/wui/includes/
	cp -a wui/includes/css $(DEST)/usr/share/nagvis/htdocs/wui/
	cp -a wui/includes/js $(DEST)/usr/share/nagvis/htdocs/wui/
	cp -a wui/*.php $(DEST)/usr/share/nagvis/htdocs/wui/
	cp -a *.php $(DEST)/usr/share/nagvis/htdocs/
	
	# demo site
	mkdir -p $(DEST)/demo/nagvis/images/maps $(DEST)/demo/etc/nagvis/maps
	mv $(DEST)/etc/nagvis/maps/demo*.cfg $(DEST)/demo/etc/nagvis/maps/
	mv $(DEST)/usr/share/nagvis/htdocs/nagvis/images/maps/nagvis-demo.png \
		$(DEST)/demo/nagvis/images/maps/
	rm -rf $(DEST)/usr/share/nagvis/htdocs/nagvis/images/templates
	rm -rf $(DEST)/usr/share/nagvis/htdocs/nagvis/images/maps
	
	# config templates
	mkdir -p $(DEST)/usr/share/nagvis/debian
	cp debian/apache.conf $(DEST)/usr/share/nagvis/debian/
	
	dh_installdirs
	dh_install
	dh_link

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installdebconf	
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
